# Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
.package
.pub-cache/
.pub/
**/Packages
**/*.d
.melody
.pmd
.dart_tool/
*.iml
*.ipr
*.iws
*.jks
*.log
*.hprof
*.DS_Store
*.class

# IntelliJ related
.idea/
*.iml

# VSCode related
.vscode/

# iOS related
ios/Flutter/.last_build_id
ios/.generated/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Generated.xcconfig
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Android related
android/.gradle/
android/.idea/
android/key.properties
android/local.properties
android/.idea/
android/.settings/
android/app/debug/
android/app/profile/
android/app/release/
android/build/
android/app/google-services.json

# Web related
web/.dart_tool/
web/manifest.json
web/main.dart.js
web/main.dart.js.map
web/flutter_service_worker.js
web/flutter_service_worker.js.map
web/assets/

# Windows related
windows/flutter/ephemeral/
windows/flutter/GeneratedPluginRegistrant.*

# Linux related
linux/flutter/ephemeral/
linux/flutter/GeneratedPluginRegistrant.*

# MacOS related
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.*

# Packages
.packages
pubspec.lock

# Miscellaneous
*.log
*.lock
*.temp
*.tmp
